/* colors */

/*
60 % of #722823 Dominat
30% of #282372 Secondary
10% of #3EC745 Accent
*/

:root {

/* var(--dominatColor) !important; */
--dominatColor: #722823;

/* var(--dominatColor) !important; */
--secondaryColor: #282372;

/* var(--dominatColor) !important; */
--accentColor: #3EC745;

}