/* colors */

/*
60 % of #B222E3 Primary
30% of #E32255 Second
10% of #E589D9 Accent
*/

:root {

/* var(--dominatColor) !important; */
--dominatColor: #B222E3

/* var(--dominatColor) !important; */
--secondaryColor: #E32255

/* var(--dominatColor) !important; */
--accentColor: #E589D9
}