/* colors */

/*
60 % of #B222E3 Primary
30% of #E32255 Second
10% of #E589D9 Accent
*/

:root {

/* var(--dominatColor) !important; */
--dominatColor: #237228;

/* var(--dominatColor) !important; */
--secondaryColor: #722823;

/* var(--dominatColor) !important; */
--accentColor: #282372;

}