@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import 'Global.css';
@import 'Main.css';

.fa-row {
    background-color: var(--dominatColor) !important;
padding: 35px;
color:bisque;
}

.fa-row-icon {
    font-size:60px;
    color:bisque;
}

.fa-row-icon:hover {
    transform: scale(1.1);
}


.first-paragraph-div {
    position: relative;
    background-color:rgb(24, 84, 38);
    color:bisque;
    font-weight: normal;
    font-size: 16px;
    padding: 20px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 18px;
    font-family: "Handlee", cursive;
    margin-left: auto;
    margin-right: auto;
}