@import 'Global.css';
@import 'Main.css';

.test-font {

    color:var(--dominatColor) !important;;


}
.test-font-2 {

    color:var(--secondaryColor) !important;;
}

.test-font-3 {

    color:var(--accentColor) !important;;
}