@import 'Global.css';
@import 'Main.css';

.fa-row {
    background-color: var(--dominatColor) !important;
padding: 35px;
color:bisque;
}

.fa-row-icon {
    font-size:60px;
    color:bisque;S
}
